.titulo{
  color: #3cb371;
  text-align: center;
  font-size: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.call{
  width: 98%;
  height: 120px;

}
.call p{
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-align: center;
}
.call p a{
  text-align: center;
  text-align: none;
  border: 1px solid #f6f6f6;
  padding: 18px;
  border-radius: 0.4rem;
  background-color: #3cb371;
  color: #000;
}
.call p a:hover{
  color: #fff;
  transition: all 3s;
  background-color: #003349;
}
address{
  margin-left: 130px;
  padding: 10px;
  color: #003349;
  font-size: 26px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
  font-size: 60px;
  text-align: center;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}